/booker/chunks/
/booker/pdfjs/
/booker/pdfjs-dist.zip
/mkdebian/dist/
/mkfedora/result
/mkfedora/root
/mkfedora/root.*
/mkfedora/fedora-kickstarts
/mkvscode/inner/
/mkvscode/*.gz
/katago/venv/
/proxy/inner/
/proxy/config.yaml
/proxy/*.gz
