/booker/chunks/
/booker/pdfjs/
/booker/pdfjs-dist.zip
/mkdebian/dist/
/mkfedora/result
/mkfedora/root
/mkfedora/root.*
/mkfedora/fedora-kickstarts
/katago/venv/
/gfw/inner/
/gfw/config.yaml
/gfw/*.gz
